#close {
  color: red;
  cursor: pointer
}

.popup {
  width: 50%;
  height: 500%;
  position: absolute;
  margin: auto auto;
  border: 5px solid black;
  background: black;
  opacity: 0.8;
  color: aliceblue;
  text-align: center;
  display: none;
}